{% extends "tavern_app/base.html" %}
{% block content %}
    <p><h2>Mistrzowie gry poszukujący bohaterów</h2></p>
    <table border="1">
      <tr>
        <th>Tytuł kampanii</th>
        <th>Opis kampanii</th>
        <th>Liczba graczy</th>
        <th>Data</th>
        <th>Godzina</th>
      </tr>

    {% for session in master_sessions %}
        <tr>
            <td><a href="/master-session-details/{{ session.id }}/">{{ session.title }}</a></td>
            <td>{{ session.description}}</td>
            <td>{{ session.number_of_players }}</td>
            <td>{{ session.date }}</td>
            <td>{{ session.time }}</td>
        </tr>
    {% endfor %}
    </table>

    <p><h2>Bohaterowie poszukujący mistrzów gry</h2></p>
    <table border="1">
      <tr>
        <th>Tytuł kampanii</th>
        <th>Opis kampanii</th>
          <th>Data</th>
        <th>Godzina</th>
      </tr>
    {% for session in gamer_sessions %}
        <tr>
            <td><a href="/gamer-session-details/{{ session.id }}/">{{ session.title }}</a></td>
            <td>{{ session.description}}</td>
            <td>{{ session.date }}</td>
            <td>{{ session.time }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}