{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet", href={% static 'admin/css/mystyle.css' %}>
{#    <style type="text/css">#}
    </style>
</head>

<body style="background-image: url('{% static 'admin/img/background.png' %}');">
{#<body style="background-image: url('https://st2.depositphotos.com/4393299/6988/v/450/depositphotos_69889025-stock-illustration-fencing-doodle-seamless-pattern-background.jpg');">#}

<body>
    <p class="tavern">TAWERNA RPG</p>
        <div class="sidenav">
            <a href="/">Strona główna</a>
            <a href="/sessions/">Wszystkie sesje</a>
            <a href="/create-session/">Stwórz sesję</a>
            <a href="/find-session/">Znajdź sesję</a>
            <a href="/find-user/">Znajdź użytkownika</a>
            {% if user.is_authenticated %}
                <a href="/user/{{ request.user.id }}/">Mój profil</a>
                <a href="/log-out/">Wyloguj się</a>
            {% else %}
                <a href="/log-in/">Zaloguj się</a>
            {% endif %}
        </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
{#    {% block foot %}#}
{#        <footer>#}
{#            <!-- Stopka strony -->#}
{#            <p>&copy; 2023 Tawerna RPG</p>#}
{#        </footer>#}
{#    {% endblock %}#}
</body>

</html>