{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet", href={% static 'admin/css/mystyle.css' %}>
    <style type="text/css">
        .sidenav {
            height: 4%;
            width: 100%;
            position: fixed;
            top: 200px;
            left: 0;
            background-color: #111;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: yellow;
            display: inline-flex;
            justify-content: center;

        }

    </style>
</head>

{#<body style="background-image: url('{% static 'admin/img/background.png' %}');">#}
<body>
    <p class="tavern">TAWERNA RPG</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="sidenav">
        <a href="/">Strona główna</a>
        <a href="/sessions/">Wszystkie sesje</a>
        <a href="/create-session/">Stwórz sesję</a>
        <a href="/find-session/">Znajdź sesję</a>
        <a href="/find-user/">Znajdź użytkownika</a>
        {% if user.is_authenticated %}
            <a href="/user/{{ user.id }}">Mój profil</a>
            <a href="/log-out/">Wyloguj się</a>
        {% else %}
            <a href="/log-in/">Zaloguj się</a>
        {% endif %}


    </div>

    {% block content %}
    {% endblock %}
    {% block foot %}
    {% endblock %}
</body>

</html>