{% extends "tavern_app/base.html" %}
{% block title %}
    Znajdź Sesję
{% endblock %}
{% block content %}
        <h3>Wyszukaj sesję:</h3>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SZUKAJ</button>
        </form>

    {% if gamer_sessions %}
        <h3>Znalezione sesje ze słowem "{{ title }}":</h3>
            <ul>
                {% for session in gamer_sessions %}
                    <li><a href="/gamer-session-details/{{ session.id }}/">{{ session.title }}</a> Opis: {{ session.description }} Data: {{ session.date }} Godzina {{ session.time }}</li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if master_sessions %}
        <h3>Znalezione sesje ze słowem "{{ title }}":</h3>
            <ul>
                {% for session in master_sessions %}
                    <li><a href="/master-session-details/{{ session.id }}/">{{ session.title }}</a> Opis: {{ session.description }} Data: {{ session.date }} Godzina {{ session.time }}</li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if not_found %}
        <h3>Nie znaleziono sesji ze słowem kluczowym "{{ title }}"</h3>
    {% endif %}
{% endblock %}