{% extends "tavern_app/base.html" %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block content %}
    <div class="scroll">
    <p class="tavern-content">{{ user.username }}</p>
{#    <p class="tavern-details">Opis:</p>#}
    <p class="tavern-details">{{ user.profile.description }}</p>
    <p class="tavern-content">NADCHODZĄCE SESJE:</p>

    {% if master_sessions and gamer_sessions %}
    <p class="tavern-details">JAKO GRACZ:</p>
        {% for session in master_sessions %}
            <a class="tavern-details" href="/master-session-details/{{ session.id }}">{{ session.title }}</a>
        {% endfor %}
    <p class="tavern-details">JAKO MISTRZ</p>
        {% for session in gamer_sessions %}
            <a class="tavern-details" href="/gamer-session-details/{{ session.id }}">{{ session.title }}</a>
        {% endfor %}
    {% endif %}

    {% if gamer_sessions and not master_sessions %}
        <p class="tavern-details">JAKO MISTRZ:</p>
        {% for session in gamer_sessions %}
            <a class="tavern-details" href="/master-session-details/{{ session.id }}">{{ session.title }}</a>
        {% endfor %}
    {% endif %}

    {% if master_sessions and not gamer_sessions %}
        <p class="tavern-details">JAKO GRACZ:</p>
        {% for session in master_sessions %}
            <a class="tavern-details" href="/master-session-details/{{ session.id }}">{{ session.title }}</a>
        {% endfor %}
    {% endif %}

    {% if not master_sessions and not gamer_sessions %}
        <p class="tavern-details">{{ user.username }} nie bierze udziału w żadnej sesji</p>
    {% endif %}
    </div>

{% endblock %}