.tavern {
    display: flex;
    font-family: Trattatello;
    flex-direction: row;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 2px black;
    text-align: center;

}

.tavern-content{
    display: flex;
    font-family: Trattatello;
    flex-direction: row;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 2px black;
    text-align: center;

}


.sidenav {
    height: 5%;
    width: 100%;
    position: page;
    top: 200px;
    left: 0;
    /*background-image: url("https://img.freepik.com/premium-vector/black-hexagon-carbon-fiber-metallic-texturd-background_156943-361.jpg?w=360");*/
    background-color: black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    display: inline-flex;
}

.table {
  border: 1px solid black;
}

.carousel {
  width: 80%; /* Możesz dostosować szerokość karuzeli */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300%; /* Szerokość całej karuzeli, zależna od liczby zdjęć */
  transition: transform 0.5s ease-in-out;
}

.carousel ul li {
  float: left;
  width: 33.33%; /* Dla 3 zdjęć */
}

/* Styl dla zdjęć */
.carousel img {
  width: 100%; /* Zdjęcia wypełniające dostępne miejsce */
  height: auto;
}

.padding-large {
  padding: 150px 0;
}

.bg-image {
    background-color: black;
    background-image: url("https://img.freepik.com/premium-vector/black-hexagon-carbon-fiber-metallic-texturd-background_156943-361.jpg?w=360");
}

.padding-medium {
  padding: 80px 0;
}

.padding-small {
  padding: 40px 0;
}

/*------------------------------*/
/*---- Main style ----*/
/*------------------------------*/
:root {
  --link-color: #ff6600;
  --light-link-color: #fffffa;
  --background-color: #4b4c4a;
  --lighter-background-color: #5a615f;
  --lighter-text-color: #9fa292;
  --dark-text: #000000;
  --blue: #007bff;
  --yellow: #ffc107;
  --green: #1e7e34;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

p {
  font-size: 1.6rem;
}

.width-medium {
width: 90% !important;
margin: 0 auto !important;
}

/*------------------------------*/
/*---- Paddings ----*/
/*------------------------------*/

.padding-large {
  padding: 150px 0;
}


.padding-medium {
  padding: 80px 0;
}

.padding-small {
  padding: 40px 0;
}


.session-tables, th, td{
    table-layout:fixed;
    text-align: center;
    border: 1px solid;
    border: 1px;
    background-color: white;
}

td {
    text-align: center;
}

.make-visible {
    background-color: white;
}

.tavern-content a:link{
    display: flex;
    font-family: Trattatello;
    flex-direction: row;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 2px black;
    text-align: center;
    color:#FFFFFF;
}

.scroll {
     position: absolute;
  left: 250px;
    right: 250px;
    top: 250px;
  background-image: url("https://e0.pxfuel.com/wallpapers/773/471/desktop-wallpaper-old-paper-background-full-ancient-scroll.jpg");
}

.tavern-details {
    display: flex;
    font-family: Trattatello;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.tavern-details a{
    display: flex;
    font-family: Trattatello;
    flex-direction: row;
    justify-content: center ;
    font-size: 50px;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 2px black;
    text-align: left;
    color: yellow;
}